body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #e2e1e1;
    text-align: center;
}
  
.title {
    font-size: 52px; 
    margin-bottom: 15px;
    color: rgb(196, 30, 30);
}

/* Filter Buttons */
.filter-container {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 18px;
    border: none;
    background: #796897;
    color: #fff;
    border-radius: 40px; 
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background: #000;
}

/* Gallery Grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.item {
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.item img {
    width: 100%;
    display: block;
    transition: transform .4s ease, filter .4s ease;
}

/* Hover effect */
.item:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
}

.lightbox-img {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 50px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
